:root {
    --primary-font: 'Poppins', sans-serif;
    --black: #000;
    --white:#fff;
    --red: #E82D70;
    --light-red: #fad6e2;
    --green: #00D894;
    --light-green: #b8ffea;
    --gray: #8e8e8e;
    --light-gray: #DCE1E7;
}

*, *::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

/* General rule */
a { text-decoration: none;}
ul { list-style-type: none;}
img { 
    width: 100%; 
    display: block;
}

body {
    background-color: var(--light-gray);
}

/* Layout */
.container {
    width: min(100%, 480px);
    margin: 0 auto;
}

/* Nav bar */
.header { 
    padding: 1em;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    width: 24px;
    display: block;
}

.nav-links .logo {
    width: 64px;
}

/* Main / post section */
.main {
    display: grid;
    grid-template-rows: 540px auto;
    padding: 0 .5em;
    position: relative;
}


.post-img,
.post-description,
.post-stamp {
    grid-row: 1;
    grid-column: 1 / -1;
}

.post-description {
    z-index: 1;
    align-self: end;
    color: var(--white);
    margin-bottom: 1em;
    margin-left: 1em;
}

.dog-img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post-stamp {
    transform: rotate(-30deg) translateY(30px);
    position: absolute;
    z-index: 999;
    top: .8rem;
    left: 0;
    width: 140px;
}

.stamp-img {
    filter: drop-shadow(0px 0px 4px rgb(32, 31, 31));
}

.post-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em 0;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    /* border: 1px solid rgb(66, 51, 51); */
    border-radius: 5px;
    color: rgb(66, 51, 51);
    background: linear-gradient(45deg, rgba(241, 103, 61, 0.698),rgba(233, 149, 149, 0.851));
}

.empty > .fa-hourglass {
    font-size: 3rem;
    margin: 0.4em 0;
}


/* buttons */
.btn {
    padding: 1em;
    border: none;
}

.btn-primary {
    border-radius: 50%;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.2);
}

.btn-primary > img {
    height: 24px;
    width: 24px;
}

.btn-img {
    pointer-events: none;
}

.liked,
#like-btn:hover,
#like-btn:active {
    background-color: var(--light-green);
}

.disliked,
#dislike-btn:hover,
#dislike-btn:active {
    background-color: var(--light-red);
}

/* Utility classes */
.bg-light {background-color: var(--white);}